{% extends wrapper_template %}

{% load static %}

{% block content %}
<div class="container">
    <h2>Persistent Messages</h2>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation"><a href="#" class="nav-link active pm-btn-messages" id="pm-messages-link" role="tab" title="Existing messages">Existing messages</a></li>
        <li class="nav-item" role="presentation"><a href="#" class="nav-link pm-btn-add-message" id="pm-message-add-link" aria-controls="add_message" role="tab" title="Add a new message" aria-selected="false">Add a new message</a></li>
    </ul>
    <div id="pm-content"></div>
</div>

{% verbatim %}
<script id="message-list-tmpl" type="text/x-handlebars-template">
{{# if messages}}
<ul class="list-group">
{{# each messages}}
    <li class="list-group-item">
        <div class="alert alert-{{ lower level_name }}" style="padding: 10px 15px; border: 1px solid #333; margin: 10px 0; color: #000">{{{ content }}}</div>
        <div class="row">
            <div class="col-md-6">
                <em>Updated by {{ modified_by }} on {{ format_date modified }}</em>
            </div>
            <div class="col-md-6 text-right">
                <button id="pm-edit-{{ id }}" class="btn btn-primary pm-btn-edit" name="action">Edit</button>
                <button id="pm-publish-{{ id }}" class="btn btn-primary {{# if is_active }}pm-btn-unpublish{{else}}pm-btn-publish{{/if}}" name="action">{{# if is_active }}Unpublish{{else}}Publish{{/if}}</button>
                <button id="pm-delete-{{ id }}" class="btn btn-danger pm-btn-delete" name="action">Delete</button>
            </div>
        </div>
        <dl class="dl-horizontal">
            <dt>Level</dt>
            <dd>{{ level_name }}</dd>
            <dt>Published</dt>
            <dd>{{# if is_active }}Yes{{else}}No{{/if}}</dd>
            <dt>Begins</dt>
            <dd>{{ format_date begins }}</dd>
            <dt>Expires</dt>
            <dd>{{# if expires }}{{ format_date expires }}{{else}}{{# if begins }}Never{{/if}}{{/if}}</dd>
            {{# each ../tag_groups}}
            <dt>{{ name }}</dt>
            <dd>{{# each ../tags}}{{# if_equals group ../name }}{{ name }} {{/if_equals}}{{/each}}</dd>
            {{/each}}
        </dl>
    </li>
{{/each}}
</ul>
{{else}}
<p>There are no messages.</p>
{{/if}}
</script>
{% endverbatim %}

{% verbatim %}
<script id="message-form-tmpl" type="text/x-handlebars-template">
<input type="hidden" id="pm-message-id" name="message_id" value="{{ message.id }}"/>
<div class="row">
    <div class="form-group col-xs-10">
        <label for="pm-message-content"><h3>Message</h3></label>
        <div>
            <textarea id="pm-message-content" class="form-control" style="width:100%;" rows="2" name="content">{{ message.content }}</textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-5">
        <label for="pm-message-begins">Message begins</label>
        <div class="input-group date" id="pm-begins-datetimepicker">
            <input id="pm-message-begins" name="begins" type="text" class="form-control" style="width:100%;" value=""/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-5">
	<label for="pm-message-expires">Message expires</label>
        <div class="input-group date" id="pm-expires-datetimepicker">
            <input id="pm-message-expires" name="expires" type="text" class="form-control" style="width:100%;" value=""/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<h3>Filtering options</h3>
<div class="row">
    <div class="form-group col-xs-6">
        <label>Message level</label><br />
        {{#each message_levels}}
        <label for="pm-level-{{ lower name }}" class="radio-inline"><input type="radio" id="pm-level-{{ lower name }}" name="level" value="{{ level }}"{{# if_equals level ../message.level }} checked="checked"{{/if_equals}}/><span class="btn btn-{{ lower name }}">{{ name }}</span></label>
        {{/each}}
    </div>
</div>
{{# each tag_groups}}
<label>{{ name }}</label>
<div class="form-group">
    {{#each tags}}
    <label for="pm-tag-{{ lower name }}" class="checkbox-inline"><input id="pm-tag-{{ lower name }}" type="checkbox" name="tag_{{ lower ../name }}" value="{{ name }}"{{# has_tag ../../message.tags name }} checked="checked"{{/has_tag}}/>{{ name }}</label>
    {{/each}}
</div>
{{/each}}
<div>
<br/>
<div class="form-group">
    <button type="submit" class="btn btn-primary pm-btn-submit">Submit</button>
    <button type="submit" class="btn btn-danger pm-btn-cancel">Cancel</button>
</div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="transition-tmpl" type="text/x-handlebars-template">
<div class="loading-container">
    <div class="loading"></div>
    <div><strong>Loading...</strong></div>
</div>
</script>
{% endverbatim %}
{% endblock content %}

{% block extra_js %}
<script src="{% static "persistent_message/js/vendor/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "persistent_message/js/main.js" %}"></script>
<script type="text/javascript">
    window.persistent_message = {
        session_id: '{{ session_id }}',
        csrftoken: '{{ csrf_token }}',
        message_api: '{{ message_api }}',
        tags_api: '{{ tags_api }}',
        message_levels: [{% for level, name in message_levels %}{level: {{ level }}, name: '{{ name }}'},{% endfor %}]
    };
</script>
{% endblock extra_js %}

{% block extra_css %}
    <link href="{% static "persistent_message/css/vendor/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
{% endblock extra_css %}
