{% extends wrapper_template %}

{% load staticfiles %}

{% block content %}
<div class="container">
    <h2>Persistent Messages</h2>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation"><a href="#" class="nav-link active pm-btn-messages" id="pm-messages-link" role="tab" title="Existing messages">Existing messages</a></li>
        <li class="nav-item" role="presentation"><a href="#" class="nav-link pm-btn-add-message" id="pm-message-add-link" aria-controls="add_message" role="tab" title="Add a new message" aria-selected="false">Add a new message</a></li>
    </ul>
    <div id="pm-content"></div>
</div>

{% verbatim %}
<script id="message-list-tmpl" type="text/x-handlebars-template">
{{# if messages}}
<ul class="list-group">
{{# each messages}}
    <li class="list-group-item">
        <div>
            <div style="padding: 10px 15px;font-size: 15px;text-align: center;border:1px solid #333;background-color:#fff;margin:10px 0;">{{{ content }}}</div>
            <em>Last updated by {{ modified_by }} on {{ modified }}</em>
            <div class="text-right">
                <button class="btn btn-danger" name="action">Delete</button>
                {{# if is_actve}}
                <button class="btn btn-success" name="action">Unpublish</button>
                {{else}}
                <button class="btn btn-primary" name="action">Publish</button>
                {{/if}}
            </div>
            <dl class="dl-horizontal">
                <dt>Level</dt>
                <dd>{{ level }}</dd>
                <dt>Published</dt>
                <dd>{{ is_active }}</dd>
                <dt>Published dates</dt>
                <dd>{{ begins }} to {{ expires }}</dd>
                {{# each groups}}
                <dt>{{ name }}</dt>
                <dd>{{# each tags}}{{ tag }} {{/each}}</dd>
                {{/each}}
            </dl>
        </div>
    </li>
{{/each}}
</ul>
{{else}}
<p>There are no messages.</p>
{{/if}}
</script>
{% endverbatim %}

{% verbatim %}
<script id="message-form-tmpl" type="text/x-handlebars-template">
<h3>Add Message</h3>
<div class="row">
	<div class="form-group col-xs-6">
		<label for="pm-message-begin-date">Begin date</label><br />
		<input id="pm-message-begin-date" name="begins_date" type="text" class="form-control" placeholder="YYYY-MM-DD" value="{{ message.begins_date }}">
	</div>
	<div class="form-group col-xs-6">
		<label for="pm-message-begins-time">Begin time</label><br />
		<input id="pm-message-begins-time" name="begins_time" type="text" class="form-control" value="{{ message.begins_time }}" />
	</div>
</div>
<div class="row">
    <div class="form-group col-xs-6">
		<label for="pm-message-expires-date">Expire date</label><br />
		<input id="pm-message-expires-date" name="expires_date" type="text" class="form-control" class="form-control" placeholder="YYYY-MM-DD" value="{{ message.expires_date }}">
	</div>
	<div class="form-group col-xs-6">
		<label for="pm-message-expires-time">Expire time</label><br />
		<input id="pm-message-expires-time" name="expires_time" type="text" class="form-control" value="{{ message.expires_time }}" />
	</div>
</div>
{{# each tag_groups}}
<label>{{ name }}</label>
<div class="form-group">
    {{#each tags}}
    <label for="pm-tag-{{ name }}" class="checkbox-inline"><input type="checkbox" id="pm-tag-{{ name }}" name="{{ ../name }}" value="{{ name }}">{{ name }}</label>
    {{/each}}
</div>
{{/each}}
<div class="row">
    <div class="form-group col-xs-10">
    <label for="pm-message-content">Message</label><br />
    <textarea id="pm-message-content" class="form-control" rows="2" name="content" value="{{ message.content }}"></textarea>
    </div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</script>
{% endverbatim %}

{% verbatim %}
<script id="transition-tmpl" type="text/x-handlebars-template">
<div class="loading-container">
    <div class="loading"></div>
    <div><strong>Loading...</strong></div>
</div>
</script>
{% endverbatim %}
{% endblock content %}

{% block extra_js %}
<script src="{% static "persistent_message/js/main.js" %}"></script>
<script type="text/javascript">
    window.persistent_message = {
        session_id: '{{ session_id }}',
        csrftoken: '{{ csrf_token }}',
        message_api: '{{ message_api }}',
        tags_api: '{{ tags_api }}',
    };
</script>
{% endblock extra_js %}
